<% if user_signed_in? %>
  <%= content_tag(:li, :class => "dropdown") do %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= current_user.email %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">My Account</li>
      <li class="divider"></li>
      <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  <% end %>
<% else %>
  <li><%= link_to('Sign up', new_user_registration_path)  %></li>
  <li><%= link_to('Login', new_user_session_path)  %></li>
<% end %>