<% if user_signed_in? %>
  <ul class="nav">
    <li class="divider-vertical"></li>
    <li><%= link_to('Queue', queue_index_path)  %></li>
    <li><%= link_to('Shows', shows_path)  %></li>
  </ul>
  <ul class="nav pull-right">
    <%= content_tag(:li, :class => "dropdown pull-right") do %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.email %> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-header">My Account</li>
        <li class="divider"></li>
        <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    <% end %>
  </ul>
<% else %>
  <ul class="nav pull-right">
    <li><%= link_to('Login', new_user_session_path)  %></li>
  </ul>
<% end %>