<div class="queue">
  <% if flash[:notice] %>
    <div class="row-fluid">
      <div class="span12">
        <div class="alert alert-success alert-small">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <div class="section-title">
        <div class="row-fluid">
          <div class="span4">
            <h2>Your Queue</h2>
          </div>

          <div class="span5">
          </div>

          <div class="span3">
            <div class="pull-right">
              <%= link_to new_show_path, :class => "btn btn-small btn-primary" do %>
                <i class="icon-plus-sign icon-white"></i> Track a Show
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <% if @unwatched.any? %>
        <% @unwatched.each do |w| %>
          <%= div_for(w) do %>
            <%= render :partial => "episode", :locals => { :watch => UserWatchDecorator.new(w) } %>
          <% end %>
        <% end %>
      <% else %>
        <% if @shows.empty? %>
          <div class="episode-row">
            <h1 style="font-weight: normal">
              <b>You aren't tracking any shows.</b> 
              <span class="pull-right">Click that button up there 
                <%= image_tag "up-there.png" %></span>
            </h1>
          </div>
        <% else %>
          <div class="episode-row">
            <h1 style="font-weight: normal">
              <b>You've reached TV Zero&trade;</b> 
              <span class="pull-right">Time to go outside. Or add more shows.</span>
            </h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>