<div class="section-title">
  <div class="row-fluid">
    <h2>Your Shows</h2>

    <div class="pull-right">
      <%= link_to new_show_path, :class => "btn btn-small btn-primary" do %>
        <i class="icon-plus-sign icon-white"></i> Track a Show
      <% end %>
    </div>
  </div>
</div>

<div id="show-list">
  <% @watches.each do |show, show_watches| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="show-table" id="show-table-<%= show.id %>" data-parent="#show-list"
          data-toggle="collapse" data-target="#watches-<%= show.id %>">
          <div class="row-fluid">
            <div class="span12 show-title">
              <h2><%= show.name %> <div class="pull-right"><i class="icon-chevron-right"></i></div></h2>
            </div>
          </div>
        </div>
        <div id="watches-<%= show.id %>" class="collapse">
          <%= render :partial => 'shows/watches', :locals => { :watches => show_watches } %>
        </div>
      </div>
    </div>
  <% end %>
</div>